.title-container {
  align-items: baseline;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.header-title {
  color: var(--secondary-color);
}

.header-button {
  background-color: var(--third-color);
}

.category-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.title-image {
  width: 50px;
}

.category-title {
  color: var(--third-color);
}

.header-img {
  filter: invert(13%) sepia(93%) saturate(177%)
    hue-rotate(22deg) brightness(90%) contrast(119%);
  width: 30px;
}

@media ( min-width : 361px ) {

  .category-header {
    background-color: var(--secondary-color);
  }

  .header-img {
    width: 50px;
  }
}
