:root {

  --primary-color: #fafafa;

  --secondary-color: #780000;

  --third-color: #C1121F;

  --fourth-color: #C1121F;  

  --fifth-color: #e8eddf;

  --sixth-color: #f5cb5c;

  --card-color: #ececec;

}
